
{% extends 'main.html' %}



{% block content %}

<nav class="flex flex-row w-full " >
    <div class="w-full"><a href="/" class="text-2xl text-blue-700 font-mono font-semibold ">
        OCRApp
    </a>
    </div>
    
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}" class="order order-last bg-blue-300 font-sans font-bold text-white py-1 px-2 rounded">Logout</a>
    {% else %}
    <a href="{% url 'login' %}" class="order order-last bg-blue-300 font-sans font-bold text-white py-1 px-2 rounded">Login</a>
    {% endif %}
    <hr class=" ">
    
    </nav>

<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Sign in to your account
                </h1>
                {% if res %}
                    <p class="text-red-500 text-lg text-center">{{ res }}</p>
                    {% endif %}
                <form action="" method="POST" class="space-y-4 md:space-y-6" >
                    {% csrf_token %}
                    <div>
                        <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your username</label>
                        <input type="text" name="username"  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter username" >
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                        <input type="password" name="password"  placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
                    </div>
                    <button type="submit" name="login" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold pt-2 px-4 rounded">Sign in</button>
                    
                </form>
            </div>
        </div>
    </div>
</section>



{% endblock %}