{% extends 'core.html' %}





{% block content %}





<div class="ml-52 w-full  p-4">
    <nav class="text-center h-12 text-2xl font-medium text-blue-800 dark:text-white">Identification</nav>
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="flex flex-row">
            <div class="mb-4 w-5/6 mr-5">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Upload File :
                </label>
                <input class="text-sm shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="file" name="document">
            </div>
            <div class="mt-7 ">
                <button type="submit" class=" text-sm bg-transparent hover:bg-blue-950 text-blue-950 font-semibold hover:text-white py-2 px-4 border border-blue-950 hover:border-transparent rounded">
                    Submit
                </button>
            </div>
        </div>
        
        {% if url %}
        <!-- <p class="text-sm">Uploaded file: <a href="{{ url }}" class="text-blue-800">{{ url }}</a></p> -->
        <img src="{{ url }}" alt="image" style="width:400px">
        {% endif %}

    </form>
    <div>
        {% if array %}
        {% for value in array %}
            <!-- <p>{{ value }}</p> -->
        {% endfor %}
        {% endif %}
    </div>
    <hr>
    <hr>
    <div >
        {% if dict %}
        
        


        
        <form action="" method="POST" >
            {% csrf_token %}
            <input type="text" name="image_path" value="{{ url }}" style="display: none;">
            <div class="grid gap-6 mb-6 md:grid-cols-2 ">
                <div >
                    <input type="text"  value="{{ dict.pays }}" name="pays" class="bg-gray-50 border  border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
                </div> 
                <div>
                    <input type="text"  value="{{ dict.type }}" name="type" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
                </div>
                <div>
                    <label  class="block mb-2 text-xs font-medium text-gray-900 dark:text-white">Nom</label>
                    <input type="text" value="{{ dict.nom }}" name="nom" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
                </div>
                <div>
                    <label  class="block mb-2 text-xs font-medium text-gray-900 dark:text-white">Prénom</label>
                    <input type="text"  value="{{ dict.prénom }}" name="prénom" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
                </div>  
            </div>  
            <!-- <div class="grid gap-2 mb-6 md:grid-cols-4"> -->
            <div class="flex flex-row gap-6">
                <div>
                    <label  class="block mb-2 text-xs font-medium text-gray-900 dark:text-white">Sexe</label>
                    <input type="text"  value="{{ dict.sexe }}" name="sexe" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-32 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
                </div>
                <div>
                    <label  class="block mb-2 text-xs font-medium text-gray-900 dark:text-white">Nationalité</label>
                    <input type="text" value="{{ dict.Nationalité }}" name="nationalité" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-32 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
                </div>
                <div>
                    <label  class="block mb-2 text-xs font-medium text-gray-900 dark:text-white">Taille</label>
                    <input type="text" value="{{ dict.Taille }}" name="taille" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-32 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
                </div>
                <div>
                    <label  class="block mb-2 text-xs font-medium text-gray-900 dark:text-white">Taille</label>
                    <input type="text" value="{{ dict.Teint }}" name="teint" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-32 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
                </div>
                <div class="mb-6">
                    <label  class="block mb-2 text-xs font-medium text-gray-900 dark:text-white">Date de naissance</label>
                    <input type="text"  value="{{ dict.Datedenaissance }}" name="Datedenaissance" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-32 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
                </div>
            </div>
            <div class="grid gap-6 mb-6 md:grid-cols-2"> 
                <div>
                    <label  class="block mb-2 text-xs font-medium text-gray-900 dark:text-white">Cheveux</label>
                    <input type="text"  value="{{ dict.Cheveux }}" name="Cheveux" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
                </div>
                
                <div>
                    <label  class="block mb-2 text-xs font-medium text-gray-900 dark:text-white">Adresse</label>
                    <input type="text"  value="{{ dict.Adresse }}" name="Adresse" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
                </div>
                <div>
                    <label  class="block mb-2 text-xs font-medium text-gray-900 dark:text-white">yeux</label>
                    <input type="text"  value="{{ dict.yeux }}" name="yeux" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
                </div>
            
                <div>
                    <label for="visitors" class="block mb-2 text-xs font-medium text-gray-900 dark:text-white">signes particuliers</label>
                    <input type="text"  value="{{ dict.signesparticuliers }}" name="signesparticuliers" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
                </div>
                <div >
                    <label  class="block mb-2 text-xs font-medium text-gray-900 dark:text-white">numero de telephone</label>
                    <input type="text"  value="{{ dict.numerodetelephone }}" name="numerodetelephone" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
                </div>
                <div>
                    <label  class="block mb-2 text-xs font-medium text-gray-900 dark:text-white">Acte de naissance</label>
                    <input type="text"  value="{{ dict.Actedenaissance }}" name="Actedenaissance" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
                </div>
                <div>
                    <label  class="block mb-2 text-xs font-medium text-gray-900 dark:text-white">du on</label>
                    <input type="text"  value="{{ dict.duon }}" name="duon" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
                </div>
                <div>
                    <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">N de doc</label>
                    <input type="text"  value="{{ dict.Ndedoc }}" name="Ndedoc" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
                </div>
                <div class="mb-6">
                    <label  class="block mb-2 text-xs font-medium text-gray-900 dark:text-white">Expiration</label>
                    <input type="text"  value="{{ dict.Expiration }}" name="Expiration" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
                </div>
                <div class="mb-6">
                    <label  class="block mb-2 text-xs font-medium text-gray-900 dark:text-white">Délivrée à</label>
                    <input type="text"  value="{{ dict.Délivréeà }}" name="Délivréeà" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
                </div>
            </div>
             
            <button type="submit" class="text-white bg-blue-950 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        </form>
        
        {% endif %}

    </div>

</div>

{% endblock %}

